{
    "presets": [
        "es2015", "stage-2", "react", "flow"
    ],
    "plugins": [
        "transform-runtime",
        "meteor-imports"
    ],
    "env": {
        "coverage": {
            "plugins": [
                ["istanbul", {
                    "exclude": [
                        "build/meteor/**/*.js",
                        "test/**/*.js"
                    ]
                }]
            ]
        }
    }
}
